.theme-switch {
    position: relative;
    display: flex;
    align-items: center;
    width: 100px;
    height: 50px;
    background-color: #5730b4;
    border-radius: 25px;
    cursor: pointer;
  }
  
  .theme-switch__container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  
  .theme-switch__sun-moon-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    background-color: #ffcc00;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.5s ease;
  }
  
  .theme-switch__moon {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #5730b4;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.5s ease;
  }
  
  .theme-switch__spot {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #a03583;
    border-radius: 50%;
    transition: background-color 0.5s ease;
  }
  
  .theme-switch__clouds {
    position: absolute;
    width: 20px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    transition: background-color 0.5s ease;
  }
  
  .theme-switch__stars-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.5s ease;
  }
  
  input[type="checkbox"]:checked + .theme-switch__container {
    background-color: #a03583;
  }
  